<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Brady_BuyingGuide>
            <version>1.0.0</version>
        </Brady_BuyingGuide>
    </modules>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <brady_buyingguide before="Mage_Adminhtml">Brady_BuyingGuide_Adminhtml</brady_buyingguide>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>	
		<layout>
			<updates>
				<buyingguide>
					<file>buyingguide.xml</file>
				</buyingguide>
			</updates>
		</layout>
	</adminhtml>    
    <global>
    	<blocks>
	      <adminhtml>
	        <rewrite>
	          <catalog_product_edit_tab_attributes>Brady_BuyingGuide_Block_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
	        </rewrite>
	      </adminhtml>
	      <buyingguide>
	         <class>Brady_BuyingGuide_Block</class>
	      </buyingguide>
	   </blocks>
        <models>
            <buyingguide>
                <class>Brady_BuyingGuide_Model</class>
                <resourceModel>buyingguide_mysql4</resourceModel>
            </buyingguide>
            <buyingguide_mysql4>
                <class>Brady_BuyingGuide_Model_Mysql4</class>
                <entities>
                    <buyingguide>
                        <table>buying_guide</table>
                    </buyingguide>
                </entities>
            </buyingguide_mysql4>
        </models>
        <resources>
            <buyingguide_setup>
                <setup>
                    <module>Brady_BuyingGuide</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </buyingguide_setup>
            <buyingguide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </buyingguide_write>
            <buyingguide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </buyingguide_read>
        </resources>
        <helpers>
            <buyingguide>
                <class>Brady_BuyingGuide_Helper</class>
            </buyingguide>
        </helpers>
  	</global>
</config>